@media (max-width: 1320px) {
  .about{
    background-image: url('../images/about-bg-1320.jpg');
  }
  .offers {
    &-apartments{
      background-image: url('../images/apartaments-bg-1000.jpg');
    }
    &-penthouse{
      background-image: url('../images/penthouse-bg-1000.jpg');
    }
  }
}

@media (max-width: 1000px) {
  .about {
    background-image: url('../images/about-bg-1000.jpg');
  }
  .slider{
    &__inner{
      height: 477px;
    }
  }
  .offers {
    padding-bottom: 100px;
    &-title{
      margin-top: 0;
    }
    &-link{
      margin-bottom: 0;
    }
    &-apartments {
      background-image: url('../images/apartaments-bg-800.jpg');
      margin-bottom: 50px;
    }
    &-apartments__content{
      min-height: auto;
    }
    &-penthouse {
      background-image: url('../images/penthouse-bg-800.jpg');
    }
    &-penthouse__content {
      min-height: auto;
    }
  }
  .partners {
    &__items {
      grid-gap: 38px;
    }

    &__item {
      height: 154px;
    }
  }
  .news{
    &__items {
      grid-gap: 40px;
    }
  }
}

@media (max-width: 925px) {
  .header{
    &__contacts{
      margin-left: auto;
    }
    .phone{
      display: none;
    }
    &__btn{
      display: block;
      padding: 0;
      background-color: transparent;
      border: none;
      padding: 10px;
    }
    &__title {
      font-size: 64px;
      line-height: 76px;
      letter-spacing: 0.18em;
      text-transform: uppercase;
    }

    &__subtitle {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.01em;
    }
  }
  .menu{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
    transform: translate(-300%);
    transition: all .5s;
    &__list{
      color: #000;
      width: 300px;
      display: block;
      padding: 35px 20px 100px;
    }
    &__item{
      width: 100%;
      font-size: 24px;
      line-height: 31px;
      letter-spacing: 0.015em;
      font-weight: 400;
    }
    &__item+.menu__item {
      margin-left: 0;
      margin-top: 25px;
    }
    &__link{
      display: block;
    }
    &__logo{
      display: flex;
      justify-content: center;
      padding-top: 12px;
    }
    &__phone {
      display: block;
      color: #A7A7A7;
      margin-left: 20px;
      font-size: 24px;
      line-height: 31px;
      letter-spacing: 0.015em;
    }
    &__btn {
      display: block;
      padding: 0;
      background-color: transparent;
      border: none;
      position: absolute;
      top: 15px;
      right: 20px;
      padding: 10px;
    }
  }
  .menu--active {
    transform: translate(0);
  }
}

@media (max-width: 850px) {
  .offers {
    &-apartments {
      background-image: none;
    }
    &-apartments__img{
      margin: 25px 0;
      display: block;
    }
    &-apartments__content {
      margin: 0;
    }
    &-penthouse {
      background-image: none;
    }
    &-penthouse__content{
      margin: 0;
    }
    &-penthouse__img{
      margin: 25px 0;
      display: block;
    }
    &-text{
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.015em;
    }
  }
  .contacts__item-checkbox{
    top: 3px;
  }
}

@media (max-width: 800px) {
  .title{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    margin-bottom: 25px;
  }
  .about{
    background-image: none;
    &__img {
      display: block;
      margin-top: 25px;
    }
    &__text{
      max-width: 100%;
    }
  }
  .position{
    padding-bottom: 100px;
    &__inner{
      grid-template-columns: 1fr;
      grid-gap: 25px;
    }
    .map {
      height: 345px;
    }
    &__text-box{
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.01em;
    }
  }
  .partners{
    &__items{
      grid-gap: 38px;
    }
    &__item{
      height: 154px;
    }
  }
  .contacts{
    &__items{
      grid-gap: 40px;
    }
    &__item-text{
      font-size: 12px;
      line-height: 14px;
    }
    .phone {
      font-weight: 400;
      font-size: 22px;
      display: block;
      margin-bottom: 30px;
    }

    .addres {
      font-size: 18px;
      display: block;
      margin-bottom: 18px;
    }

    .mail {
      font-size: 14px;
      display: block;
      margin-bottom: 14px;
    }
  }
  .footer{
    &__inner{
      flex-direction: column;
      align-items: center;
    }
    .logo{
      order: -1;
      margin-bottom: 11px;
    }
    &__copy{
      margin-bottom: 11px;
      text-align: center;
    }
  }
}

@media (max-width: 640px) {
  .specifications{
    padding: 100px 0;
    &-item__title{
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.01em;
    }
    &-item__text{
      font-weight: 300;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.015em;
    }
  }
  .photo-slider{
    padding-bottom: 100px;
    &__item{
      height: 373px;
    }
  }
  .partners {
    padding-bottom: 100px;
    &__items {
      grid-gap: 24px;
    }
    &__img-min {
      display: block;
    }
    &__img-set {
      display: none;
    }
    &__item {
      height: 96px;
    }
  }
  .news {
    padding-bottom: 100px;
    &__item {
      display: flex;
      flex-direction: column-reverse;
    }
    &__item-date{
      order: 1;
      margin-bottom: 10px;
    }
    &__item-title {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 600px) {
  .benefits{
    padding: 100px 0;
    &__items{
      display: block;
    }
    &__item+.benefits__item{
      margin-top: 20px;
    }
    &__list-item+.benefits__list-item{
      margin-top: 20px;
    }
    &__list-item{
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.015em;
      &::before{
        top: 10px;
      }
    }
  }
  .slider {
    padding: 100px 0;
    &__inner {
      height: 300px;
    }
  }
  .contacts{
    padding-bottom: 100px;
    &__items{
      grid-template-columns: 1fr;
      grid-gap: 100px;
    }
    &__title{
      display: none;
    }
    &-title {
      display: block;
    }
  }
}

@media (max-width: 350px) {
  .header{
    background-image: url('../images/header-bg-320.jpg');
    &__title {
      font-size: 48px;
      line-height: 57px;
      letter-spacing: 0.18em;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.01em;
    }
  }
  .menu{
    right: 0;
    &__list{
      width: 100%;
    }
  }
  .about{
    padding: 100px 0;
    &__inner{
      padding: 0;
    }
  }
  .position{
    padding-bottom: 100px;
    .map {
      height: 213px;
    }
  }
  .slider {
    &__inner {
      height: 149px;
    }
  }
  .specifications {
    &-item__text {
      font-size: 12px;
      line-height: 130%;
      font-weight: 400;
      letter-spacing: 0.015em;
    }
  }
  .photo-slider {
    &__item {
      height: 227px;
    }
  }
  .partners {
    &__items {
      grid-gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      height: 66px;
      img{
        padding: 0 15px;
      }
    }
  }
  .news {
    &__items {
      grid-template-columns: 1fr;
    }
  }
  .contacts {
    .phone {
      font-weight: 400;
      font-size: 18px;
      display: block;
      margin-bottom: 18px;
    }

    .addres {
      font-size: 14px;
      display: block;
      margin-bottom: 14px;
    }

    .mail {
      font-size: 12px;
      display: block;
      margin-bottom: 12px;
    }
    &__btn{
      width: 100%;
    }
  }
}